<div class="box-container"
    cdkDrag 
    cdkDragBoundary=".viewport-area" 
    (cdkDragMoved)="onDragMoved($event)"
    >
    <div class="shadow">
        <div class="outer-glow-container">
            <div class="inner-glow-container">

                <div class="node-header">

                    <div class="handle" cdkDragHandle>
                        <svg width="24px" fill="rgba(255,255,255,0.4)" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>

                    <div class="text-container">
                        {{title}}
                    </div>

                    <div class="slot-container">
                        <slot
                            #outputSlot
                            *ngIf="hasOutput"
                            [style.--color]="color"
                            (slotClicked)="onOutputSlotClicked()">
                        </slot>
                    </div>
                    
                </div>

                <div class="node-body">

                    <ng-template propertyHost>
                        <node-property
                            [style.--color]="'55,55,255'"
                            (slotClicked)="onSlotClicked($event)">
                        </node-property>>
                    </ng-template>            

                </div>

            </div>
        </div>
    </div>
</div>