<div class="box-container">
    <div class="logo">
        <img src="../../../assets/AppFactoryLogoBloom.png">
    </div>
        <ul class="menu">
            <li style="transform: translateX(100px);"><div class="button-inside"><span>File</span></div></li>
            <li style="transform: translateX(60px);"><div class="button-inside"><span>Options</span></div></li>
            <li style="transform: translateX(80px);"><div class="button-inside"><span>About</span></div></li>
        </ul>
        <ul class="icons">
            <li><img src="../../../assets/LinkedInLogo.png"></li>
            <li><img src="../../../assets/GitHubLogo.png"></li>
        </ul>
        <span>
            <div>
                MIT License 
            </div>
            <div>
                V0.1
            </div>
        </span>
</div>