<div class="explorer-outer-outline">
<div class="explorer-inner-outline">
<div class="explorer-container">

    <div class="explorer-navigator">
        <div class="icon-cascade">
            <app-explorer-navigator-icon [iconType]="'cube'"></app-explorer-navigator-icon>
            <app-explorer-navigator-icon [iconType]="'key'"></app-explorer-navigator-icon>
            <app-explorer-navigator-icon [iconType]="'globe'"></app-explorer-navigator-icon>
        </div>
    </div>

    <div class="explorer explorer-panel" cdkScrollable>

        <form class="example-form">

            <app-explorer-header headerTitle="Object Properties"></app-explorer-header>

            <mat-form-field color="primary" class="example-full-width" appearance="fill">
            <mat-label>Placeholder Label</mat-label>
            <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Placeholder Label</mat-label>
                <input matInput placeholder="Ex. Value" value="Value">
            </mat-form-field>
        </form>

    </div>

</div>
</div>
</div>