<div class="explorer-outer-outline">
<div class="explorer-inner-outline">
<div class="explorer-container" #explorerContainer>

    <div class="explorer-navigator" >
        <div class="icon-cascade" [@animationContainer]="explorerService.currentGroupsAndIcons.length">
            <ng-template explorerNavigatorIconsHost ></ng-template>
        </div>
    </div>

    <div 
        class="explorer explorer-panel"
        [@animationContainer]="explorerService.currentGroupsAndIcons.length"
        cdkScrollable>

        <ng-template explorerGroupOfPropertiesHost></ng-template>

    </div>

</div>
</div>
</div>