<div class="property-container">
    <div class="node-grid">
        <slot
            *ngIf="property.hasSlot"
            [parentNode]="parentNode"
            [type]="'input'"
            [style.--color]="property.color"
            (slotClicked)="onSlotClicked($event)">
        </slot>

        <mat-form-field color="primary" class="example-full-width" appearance="fill" *ngIf="!property.hasSlot; else boundProperty">
            <mat-label>{{property.name}}</mat-label>
            <input 
                matInput
                placeholder="Value"
                [(ngModel)]="property.nodeData[property.binding]"
                [disabled]="property.hasSlot">
        </mat-form-field>

        <ng-template #boundProperty>
            <mat-form-field color="primary" class="example-full-width" appearance="fill">
                <mat-label>{{property.name}}</mat-label>
                <input
                    matInput
                    placeholder="Value"
                    [(ngModel)]="property.nodeData[property.binding]['name']"
                    [disabled]="property.hasSlot">
            </mat-form-field>
        </ng-template> 

    </div>
</div>





